<?xml version='1.0' encoding='utf-8'?>
<widget id="com.snakegame.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Snake Game</name>
    <description>
        A mobile snake game
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Snake Game Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="Orientation" value="portrait" />
    </platform>
</widget> 